<html>
  <body ng-app="weatherApp" ng-controller="WeatherController as vm">
    <div class="container">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" ng-model="vm.city" class="form-control" placeholder="Search by City Name">
        </div>
        <button type="submit" ng-disabled="!vm.city" ng-click="vm.search()" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
      </form>
      <div class="table-responsive">
        <table ng-table="vm.weatherTable" class="table table-hover">
          <thead>
            <th class="text-center">City</th>
            <th class="text-center">Description</th>
            <th class="text-center">Temperature</th>
            <th class="text-center">Humidity</th>
            <th class="text-center">Wind Speed</th>
            <th class="text-center">Pressure</th>
            <th class="text-center">Date</th>
            <th></th>
          </thead>
          <tbody>
          <tr ng-repeat="weather in $data">
            <td class="text-center">{{weather.name}}</td>
            <td class="text-center">{{weather.description}}</td>
            <td class="text-center">{{weather.temperature}}</td>
            <td class="text-center">{{weather.humidity}}</td>
            <td class="text-center">{{weather.windSpeed}}</td>
            <td class="text-center">{{weather.pressure}}</td>
            <td class="text-center">{{ weather.date }}</td>
            <td><button class="btn btn-danger" ng-click="vm.deleteForecast(weather.id)">Remove</button></td>
          </tr>
          <tr ng-if="vm.weatherTable.data.length == 0">
            <td colspan="12" class="text-center">City does not exists</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>

  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
  <script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>
  <script src="js/weather.module.js"></script>
  <script src="js/controller/weather.controller.js"></script>
  <script src="js/service/weather.service.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
</html>
